

.related {
    list-style: none;
    border: 8px solid green;
}

li:first-child {
    color: red;
}

a:link{
    background-color: yellow;
    text-decoration: none;
}

a:hover {
    color:green;
    ;
}

a:active {
    background-color: black;
}

.code-img {
    width:100%;
    height:auto;
    position: relative;
}

body {
    width:700px;
    margin: 0 auto;
    /* position: relative; */
}

.like {
    position: absolute;
    top:0;
    right:0;
}