.related {
    list-style: none;
    border: 8px solid green;
}

li:first-child {
    color: red;
}

a:link{
    background-color: rgba(255,255,25,.3);
    text-decoration: none
}

a:hover {
    color:green;
    ;
}

a:active {
    background-color: black;
}

